body {
    background-color:white;
    font: normal 16px Franklin Gothic, Geneva, sans-serif;
    line-height: 1.6em;
}

h1 {
    color:black;
    text-align: center;
}

h2 {
    color:gray;
    text-align: center;
    font: 20px;
}

h3 {
    color:gray;
}

p {
    color:black;
    text-align: center;
}

a {
    text-align: center;
    color:black;
}

img {
    margin: 20px 0;
    padding: 10px;
}

footer {
    color:black;
}

.container {
    flex: 50%;
    margin: auto;
    width: 100%;
    text-align: center;
}

.container-fluid {
    flex: 50%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.column {
    position: relative;
    min-height: 1px;
}

.col-12 {
    flex: 50%;
    max-width: 50%;
}
.col-6 {
    flex: 50%;
    max-width: 50%;
}

.column img {
    margin-top: 8px;
    vertical-align: center;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.image-row {
    margin: auto;
    width: 1000px;
    justify-content: center;
}

.image-grid {
    margin: auto;
    width: 89%;

}

.image {
    opacity: 1;
    transition: .5s ease;
    border: 1px solid black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.image:hover {
    opacity: 0.3;
    transition: .5s ease;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.align-items-center {
    align-items: center;
    justify-content: center;
}

.px-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.main-header {
    width: 70%;
    margin: auto;
}

.mb-5 {
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
